In [1]:
import pandas as pd
import re

In [2]:
sh_sentiment = pd.read_excel(r"D:\\Data Kompa\Vinamilk\Tính 19.11.2024.xlsx", sheet_name='Sentiment')
sh_relevant = pd.read_excel(r"D:\\Data Kompa\Vinamilk\Tính 19.11.2024.xlsx", sheet_name='Relevant')
sh_channel = pd.read_excel(r"D:\\Data Kompa\Vinamilk\Tính 19.11.2024.xlsx", sheet_name='Channel')

# Phân tích biến

Sheet Sentiment

In [3]:
sh_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19785 entries, 0 to 19784
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Thương hiệu       19785 non-null  object
 1   Ngành hàng        19785 non-null  object
 2   Sản phẩm          19785 non-null  object
 3   Thời gian         19785 non-null  datetime64[ns]
 4   Tuần              19785 non-null  object
 5   Positive          13118 non-null  float64
 6   Neutral           19442 non-null  float64
 7   Negative          6019 non-null   float64
 8   Blank             7395 non-null   float64
 9   Total after       19785 non-null  float64
 10  Blank.1           19784 non-null  float64
 11  Total             19785 non-null  float64
 12  Buzzes thêm       344 non-null    float64
 13  Sum of comments   15751 non-null  float64
 14  Sum of shares     15751 non-null  float64
 15  Positive new      19701 non-null  float64
 16  Neutral new       19785 non-null  float64
 17  Negative new      19571 non-null  float64
 18  Total new         19785 non-null  float64
 19  Check Total Buzz  19785 non-null  int64
 20  Ghi chú           521 non-null    object
 21  Số campaign       205 non-null    object
 22  Phân loại         19785 non-null  object
dtypes: datetime64[ns](1), float64(14), int64(1), object(7)
memory usage: 3.5+ MB

In [4]:
object_columns = list(sh_sentiment.select_dtypes(['object']).columns)
object_columns

['Thương hiệu',
 'Ngành hàng',
 'Sản phẩm',
 'Tuần',
 'Ghi chú',
 'Số campaign',
 'Phân loại']

In [5]:
# Đếm số lượng giá trị duy nhất cho mỗi cột
for column in object_columns: 
    print("*, Column: ", column)   
    print(len(sh_sentiment[column].unique()), "unique values", "\t & \t", 
          sh_sentiment[column].notnull().sum(), "non-null values\t", 
          round(100* sh_sentiment[column].notnull().sum()/len(sh_sentiment[column]),2), 
          "% non-null")

*, Column:  Thương hiệu
17 unique values 	 & 	 19785 non-null values	 100.0 % non-null
*, Column:  Ngành hàng
18 unique values 	 & 	 19785 non-null values	 100.0 % non-null
*, Column:  Sản phẩm
276 unique values 	 & 	 19785 non-null values	 100.0 % non-null
*, Column:  Tuần
109 unique values 	 & 	 19785 non-null values	 100.0 % non-null
*, Column:  Ghi chú
309 unique values 	 & 	 521 non-null values	 2.63 % non-null
*, Column:  Số campaign
110 unique values 	 & 	 205 non-null values	 1.04 % non-null
*, Column:  Phân loại
17 unique values 	 & 	 19785 non-null values	 100.0 % non-null

In [6]:
for column in object_columns:
    print('-'*100)
    print("*, Column: ", column)
    print(sh_sentiment[column].value_counts())
    print('-'*100)

----------------------------------------------------------------------------------------------------
*, Column:  Thương hiệu
Vinamilk        5131
TH True Milk    2209
Nutifood        2045
Nutricare       1916
Vitadairy       1704
Nestlé          1463
FCV              991
IDP              898
Mead Johnson     785
Abbott           654
Vinasoy          394
Đà Lạt Milk      366
Hipp             327
Fonterra         303
Betagen          229
Yakult           218
Hoff             152
Name: Thương hiệu, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Ngành hàng
SB       7330
SN       3509
SC       2667
BRAND    1641
NGK      1168
SĐN      1152
SĐ        665
KEM       637
BAD       392
BDD       222
BƠ        103
ĐƯỜNG      94
PM         87
FOOD       74
Brand      30
TUNL        9
SBNL        3
SBTE        2
Name: Ngành hàng, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Sản phẩm
ColosBaby                 113
Vinamilk 100%             111
Vinamilk Fino             109
Thương hiệu Hipp          109
Vinamilk Susu             109
                         ...
Nunest Kid                  1
Vinamilk Greek Yoghurt      1
Leanmax Colostrum           1
Vinamilk Probeauty          1
Vinamilk Platinum           1
Name: Sản phẩm, Length: 276, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Tuần
01/09/2024 - 07/09/2024    219
15/09/2024 - 21/09/2024    218
01/10/2024 - 07/10/2024    216
08/09/2024 - 14/09/2024    216
08/06/2024 - 14/06/2024    215
                          ...
29/03/2023 - 31/03/2023    123
29/01/2023 - 31/01/2023    120
29/05/2023 - 31/05/2023    118
22/01/2023 - 28/01/2023    114
29/04/2023 - 30/04/2023    111
Name: Tuần, Length: 109, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Ghi chú
rao vặt                                                                                                                          59
minigame trên fanpage                                                                                                            14
Abbott Grow - Dinh Dưỡng Hàng Đầu, Mùa Hè Vui Số 1                                                                                8
không lấy shares ảo                                                                                                               7
rao vặt sản phẩm                                                                                                                  6
                                                                                                                                 ..
bị thiếu post livestream LofMalto - Lead with Lof Dance Festival http://facebook.com/110970055031636_849988109906185              1
rao vặt, negative từ post tiktok https://www.tiktok.com/@cocacana/video/7286360842604399890                                       1
Cùng Kun Vận Động và các video tiktok phim hoạt hình ngắn "Thợ săn thành phố". Còn lại là các bài rao vặt                         1
MINIGAME: BẮT KHOẢNH KHẮC "SIÊU NGON" CÙNG SỮA TƯƠI CỐM NON trên fanpage  http://facebook.com/101771025269874_641219041460528     1
​Abbott Grow Vietnam - Lớn Khôn Cùng Grow, Mẫu Giáo Sẵn Sàng                                                                      1
Name: Ghi chú, Length: 308, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Số campaign
5000                                                                   19
3000                                                                    9
1000                                                                    8
10000                                                                   7
800                                                                     6
                                                                       ..
1500: #MILOBich #MILOBichTietKiem #MILO #MILOVietNam                    1
1000: #NANSupremePro3 #nguanguycodiung #Tangdekhang #danggoitienloi     1
2500: #NutrenJunior #TangTruong3Chuan #NestléHealthScience              1
#NestleS26Ultima3 #ChonDinhDuongKhoaHoc #TangTocDoKetNoiNaoBo           1
600                                                                     1
Name: Số campaign, Length: 109, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Phân loại
SBTE     5056
SN       3509
SBNL     2279
BRAND    1671
SCU      1601
NGK      1168
SĐN      1152
SCA      1066
SĐ        665
KEM       637
BAD       392
BDD       222
BƠ        103
ĐƯỜNG      94
PM         87
FOOD       74
TUNL        9
Name: Phân loại, dtype: int64
----------------------------------------------------------------------------------------------------

Sheet Relevant

In [7]:
sh_relevant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4504 entries, 0 to 4503
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Thương hiệu       4504 non-null   object
 1   Ngành hàng        4504 non-null   object
 2   Sản phẩm          4504 non-null   object
 3   Thời gian         4504 non-null   datetime64[ns]
 4   Relevant          4495 non-null   float64
 5   Irrelevant        2652 non-null   float64
 6   Blank             1750 non-null   float64
 7   Total after       4504 non-null   int64
 8   Total             4504 non-null   float64
 9   Buzzes thêm       210 non-null    float64
 10  Relevant new      4504 non-null   float64
 11  Irrelevant new    4504 non-null   float64
 12  Total new         4504 non-null   float64
 13  Check Total Buzz  4504 non-null   int64
 14  Ghi chú           4 non-null      object
dtypes: datetime64[ns](1), float64(8), int64(2), object(4)
memory usage: 527.9+ KB

In [8]:
object_columns = list(sh_relevant.select_dtypes(['object']).columns)
object_columns

['Thương hiệu', 'Ngành hàng', 'Sản phẩm', 'Ghi chú']

In [9]:
# Đếm số lượng giá trị duy nhất cho mỗi cột
for column in object_columns: 
    print("*, Column: ", column)   
    print(len(sh_relevant[column].unique()), "unique values", "\t & \t", 
          sh_relevant[column].notnull().sum(), "non-null values\t", 
          round(100* sh_relevant[column].notnull().sum()/len(sh_relevant[column]),2), 
          "% non-null")

*, Column:  Thương hiệu
17 unique values 	 & 	 4504 non-null values	 100.0 % non-null
*, Column:  Ngành hàng
18 unique values 	 & 	 4504 non-null values	 100.0 % non-null
*, Column:  Sản phẩm
277 unique values 	 & 	 4504 non-null values	 100.0 % non-null
*, Column:  Ghi chú
5 unique values 	 & 	 4 non-null values	 0.09 % non-null

In [10]:
for column in object_columns:
    print('-'*100)
    print("*, Column: ", column)
    print(sh_relevant[column].value_counts())
    print('-'*100)

----------------------------------------------------------------------------------------------------
*, Column:  Thương hiệu
Vinamilk        1166
Nutricare        530
Nutifood         490
TH True Milk     472
Vitadairy        366
Nestlé           331
FCV              223
IDP              198
Mead Johnson     172
Abbott           132
Vinasoy           85
Đà Lạt Milk       78
Hipp              66
Fonterra          65
Betagen           54
Yakult            44
Hoff              32
Name: Thương hiệu, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Ngành hàng
SB       1730
SN        754
SC        579
BRAND     352
NGK       283
SĐN       264
SĐ        149
KEM       134
BAD        94
BDD        57
ĐƯỜNG      27
BƠ         22
PM         20
FOOD       16
Kem        12
TUNL        9
SBTE        1
SBNL        1
Name: Ngành hàng, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Sản phẩm
Vinamilk Susu                   23
ColosBaby                       23
Thương hiệu Abbott              22
Nan Optipro 4                   22
Vinamilk Ngôi Sao Phương Nam    22
                                ..
Nuvi Rau củ                      1
Leanmax Colostrum                1
Vinamilk Probeauty               1
Vinamilk Super Susu              1
Vinamilk Platinum                1
Name: Sản phẩm, Length: 277, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Ghi chú
yes, minigame, fanpage                1
#DinhDuongChatLuong #ViConLaSo1       1
#VềNhàĐónVuLan và  #VuiSongMoiNgay    1
campaign Bé Lành Học Nhanh            1
Name: Ghi chú, dtype: int64
----------------------------------------------------------------------------------------------------

Sheet Channel

In [11]:
sh_channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4503 entries, 0 to 4502
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Thương hiệu                   4503 non-null   object
 1   Ngành hàng                    4503 non-null   object
 2   Sản phẩm                      4503 non-null   object
 3   Thời gian                     4503 non-null   datetime64[ns]
 4   Fanpage                       2647 non-null   float64
 5   FB page                       3909 non-null   float64
 6   FB user                       3997 non-null   float64
 7   FB group                      3903 non-null   float64
 8   Tiktok                        2434 non-null   float64
 9   Forum                         885 non-null    float64
 10  News                          1404 non-null   float64
 11  Youtube                       1232 non-null   float64
 12  E-commerce                    317 non-null    float64
 13  Instagram                     116 non-null    float64
 14  Threads                       457 non-null    float64
 15  Linkedin                      91 non-null     float64
 16  Total after                   4503 non-null   int64
 17  Total                         4503 non-null   float64
 18  Total FB và Total FB, Tiktok  4503 non-null   float64
 19  Buzzes thêm                   296 non-null    float64
 20  Fanpage new                   4477 non-null   float64
 21  FB page new                   4477 non-null   float64
 22  FB user new                   4477 non-null   float64
 23  FB group new                  4477 non-null   float64
 24  Tiktok new                    4499 non-null   float64
 25  Forum new                     4503 non-null   int64
 26  News new                      4503 non-null   int64
 27  Youtube new                   4503 non-null   int64
 28  E-commerce new                4503 non-null   int64
 29  Instagram new                 4503 non-null   int64
 30  Threads new                   4503 non-null   int64
 31  Linkedin new                  4503 non-null   int64
 32  Total new                     4503 non-null   float64
 33  Check Total Buzz              4503 non-null   int64
 34  Total Facebook                4503 non-null   float64
 35  Ghi chú                       5 non-null      object
dtypes: datetime64[ns](1), float64(22), int64(9), object(4)
memory usage: 1.2+ MB

In [12]:
object_columns = list(sh_channel.select_dtypes(['object']).columns)
object_columns

['Thương hiệu', 'Ngành hàng', 'Sản phẩm', 'Ghi chú']

In [13]:
# Đếm số lượng giá trị duy nhất cho mỗi cột
for column in object_columns: 
    print("*, Column: ", column)   
    print(len(sh_channel[column].unique()), "unique values", "\t & \t", 
          sh_channel[column].notnull().sum(), "non-null values\t", 
          round(100* sh_channel[column].notnull().sum()/len(sh_channel[column]),2), 
          "% non-null")

*, Column:  Thương hiệu
17 unique values 	 & 	 4503 non-null values	 100.0 % non-null
*, Column:  Ngành hàng
18 unique values 	 & 	 4503 non-null values	 100.0 % non-null
*, Column:  Sản phẩm
276 unique values 	 & 	 4503 non-null values	 100.0 % non-null
*, Column:  Ghi chú
6 unique values 	 & 	 5 non-null values	 0.11 % non-null

In [14]:
for column in object_columns:
    print('-'*100)
    print("*, Column: ", column)
    print(sh_sentiment[column].value_counts())
    print('-'*100)

----------------------------------------------------------------------------------------------------
*, Column:  Thương hiệu
Vinamilk        5131
TH True Milk    2209
Nutifood        2045
Nutricare       1916
Vitadairy       1704
Nestlé          1463
FCV              991
IDP              898
Mead Johnson     785
Abbott           654
Vinasoy          394
Đà Lạt Milk      366
Hipp             327
Fonterra         303
Betagen          229
Yakult           218
Hoff             152
Name: Thương hiệu, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Ngành hàng
SB       7330
SN       3509
SC       2667
BRAND    1641
NGK      1168
SĐN      1152
SĐ        665
KEM       637
BAD       392
BDD       222
BƠ        103
ĐƯỜNG      94
PM         87
FOOD       74
Brand      30
TUNL        9
SBNL        3
SBTE        2
Name: Ngành hàng, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Sản phẩm
ColosBaby                 113
Vinamilk 100%             111
Vinamilk Fino             109
Thương hiệu Hipp          109
Vinamilk Susu             109
                         ...
Nunest Kid                  1
Vinamilk Greek Yoghurt      1
Leanmax Colostrum           1
Vinamilk Probeauty          1
Vinamilk Platinum           1
Name: Sản phẩm, Length: 276, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Ghi chú
rao vặt                                                                                                                          59
minigame trên fanpage                                                                                                            14
Abbott Grow - Dinh Dưỡng Hàng Đầu, Mùa Hè Vui Số 1                                                                                8
không lấy shares ảo                                                                                                               7
rao vặt sản phẩm                                                                                                                  6
                                                                                                                                 ..
bị thiếu post livestream LofMalto - Lead with Lof Dance Festival http://facebook.com/110970055031636_849988109906185              1
rao vặt, negative từ post tiktok https://www.tiktok.com/@cocacana/video/7286360842604399890                                       1
Cùng Kun Vận Động và các video tiktok phim hoạt hình ngắn "Thợ săn thành phố". Còn lại là các bài rao vặt                         1
MINIGAME: BẮT KHOẢNH KHẮC "SIÊU NGON" CÙNG SỮA TƯƠI CỐM NON trên fanpage  http://facebook.com/101771025269874_641219041460528     1
​Abbott Grow Vietnam - Lớn Khôn Cùng Grow, Mẫu Giáo Sẵn Sàng                                                                      1
Name: Ghi chú, Length: 308, dtype: int64
----------------------------------------------------------------------------------------------------

# Tổng quan

In [15]:
Link = r"D:\\Data Kompa\Vinamilk\\Oct2024.xlsx"
month = "10/2024"
year = "2024"

pre_month = '10/2023'
pre_ytd = ['01/2023','02/2023','03/2023','04/2023','05/2023','06/2023','07/2023','08/2023','09/2023','10/2023']
pre_year = "2023"

In [16]:
exclude_brands = ["Hoff", "Betagen", "Yakult"]
bdd = ['BAD', 'BDD']

In [17]:
#Thị phần ngành sữa theo Tháng năm 2024
filtered_sh_sentiment_mon = sh_sentiment[(sh_sentiment["Thời gian"] == month) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
SOV = filtered_sh_sentiment_mon.groupby(["Thương hiệu"]).agg({"Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()
SOV.columns=['month','Total new']
SOV

           month  Total new
0         Nestlé   541990.0
1       Vinamilk   492792.0
2   TH True Milk   244561.0
3         Abbott   132908.0
4       Nutifood   125324.0
5      Vitadairy   114002.0
6            IDP    61148.0
7            FCV    26906.0
8   Mead Johnson    21596.0
9      Nutricare    18670.0
10      Fonterra    17911.0
11       Vinasoy    17697.0
12          Hipp    11661.0
13   Đà Lạt Milk     5687.0

In [18]:
#with pd.ExcelWriter(Link, engine='openpyxl') as writer:
    #SOV.to_excel(writer, sheet_name='month_brand', startrow=0, startcol=0, index=False)

In [19]:
#Thị phần ngành sữa theo Tháng năm 2023
filtered_sh_sentiment_pre_ytd = sh_sentiment[(sh_sentiment["Thời gian"].isin(pre_ytd)) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
SOV_pre_YTD = filtered_sh_sentiment_pre_ytd.pivot_table(index='Thương hiệu',columns ='Thời gian', values ='Total new', aggfunc = sum).round().reset_index()
SOV_pre_YTD['Total'] = SOV_pre_YTD.sum(axis=1)
SOV_pre_YTD = SOV_pre_YTD.sort_values(by='Total',ascending=False)
SOV_pre_YTD.columns = ['Thương hiệu']+ pre_ytd +['Total']
SOV_pre_YTD

C:\Users\Kompa-KTelt056\AppData\Local\Temp\ipykernel_2388\2624929670.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  SOV_pre_YTD['Total'] = SOV_pre_YTD.sum(axis=1)

,Thương hiệu,01/2023,02/2023,03/2023,04/2023,05/2023,06/2023,07/2023,08/2023,09/2023,10/2023,Total
10,Vinamilk,289858.0,224810.0,102235.0,133340.0,671185.0,351706.0,518277.0,309037.0,887925.0,1180629.0,4669002.0
6,Nestlé,70138.0,230100.0,46971.0,30714.0,48188.0,322594.0,444269.0,1148122.0,65469.0,1698206.0,4104771.0
1,FCV,102689.0,58495.0,47644.0,69171.0,74412.0,24991.0,125129.0,313573.0,673093.0,159391.0,1648588.0
0,Abbott,272404.0,44927.0,31062.0,36060.0,138229.0,79531.0,47307.0,84220.0,162129.0,75476.0,971345.0
7,Nutifood,20403.0,27266.0,165974.0,56727.0,44913.0,84670.0,73964.0,118327.0,90868.0,66110.0,749222.0
9,TH True Milk,5234.0,16824.0,11378.0,26615.0,14339.0,26190.0,29923.0,83559.0,33522.0,47313.0,294897.0
4,IDP,19267.0,24189.0,7663.0,20189.0,22116.0,23784.0,24313.0,77729.0,24185.0,42053.0,285488.0
5,Mead Johnson,8871.0,13308.0,15741.0,33959.0,18194.0,30593.0,20759.0,36564.0,41126.0,24601.0,243716.0
11,Vinasoy,9591.0,26456.0,9693.0,35135.0,3620.0,6661.0,11491.0,87843.0,23111.0,27271.0,240872.0
12,Vitadairy,4334.0,12062.0,13927.0,5742.0,5413.0,22449.0,25734.0,32911.0,32207.0,34034.0,188813.0
8,Nutricare,NaN,NaN,NaN,NaN,NaN,NaN,7656.0,10606.0,13733.0,17991.0,49986.0
2,Fonterra,1703.0,449.0,1127.0,947.0,547.0,3184.0,4679.0,9078.0,2070.0,3804.0,27588.0
13,Đà Lạt Milk,143.0,286.0,241.0,1489.0,243.0,512.0,684.0,9460.0,1411.0,3704.0,18173.0
3,Hipp,726.0,405.0,732.0,803.0,789.0,727.0,1659.0,2518.0,1984.0,4589.0,14932.0

In [20]:
#Sentiment các brand theo Tháng năm 2024
filtered_sh_sentiment_mon = sh_sentiment[(sh_sentiment["Thời gian"] == month) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
brand_sent = filtered_sh_sentiment_mon.groupby(["Thương hiệu"]).agg({"Positive new": "sum","Neutral new": "sum","Negative new": "sum","Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()
brand_sent.columns=['month','Positive','Neutral','Negative','Total new']
brand_sent

           month  Positive   Neutral  Negative  Total new
0         Nestlé  507585.0   34375.0      30.0   541990.0
1       Vinamilk  279002.0  213257.0     533.0   492792.0
2   TH True Milk   21442.0  222947.0     173.0   244561.0
3         Abbott   71347.0   61357.0     205.0   132908.0
4       Nutifood   75955.0   49079.0     290.0   125324.0
5      Vitadairy   50146.0   63815.0      41.0   114002.0
6            IDP   23370.0   37747.0      32.0    61148.0
7            FCV    3511.0   23299.0      96.0    26906.0
8   Mead Johnson    8217.0   13146.0     233.0    21596.0
9      Nutricare    1362.0   17299.0       9.0    18670.0
10      Fonterra   14279.0    3632.0       0.0    17911.0
11       Vinasoy    3339.0   14335.0      23.0    17697.0
12          Hipp    7111.0    4544.0       6.0    11661.0
13   Đà Lạt Milk     338.0    5345.0       4.0     5687.0

In [21]:
#with pd.ExcelWriter(Link, engine='openpyxl',mode='a') as writer:
    #brand_sent.to_excel(writer, index=False, sheet_name='month_brand_sent')

In [22]:
#Sắc thái thảo luận của các thương hiệu pre-YTD
filtered_sh_sentiment_pre_ytd = sh_sentiment[(sh_sentiment["Thời gian"].isin(pre_ytd)) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
brand_sent_pre_ytd = filtered_sh_sentiment_pre_ytd.groupby(["Thương hiệu"]).agg({"Positive new": "sum","Neutral new": "sum","Negative new": "sum","Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()
brand_sent_pre_ytd.columns =['preYTD','Positive','Neutral','Negative','Total new']
brand_sent_pre_ytd

          preYTD   Positive   Neutral  Negative  Total new
0       Vinamilk  3933950.0  731500.0    3552.0  4669002.0
1         Nestlé  3557853.0  546185.0     734.0  4104771.0
2            FCV  1141503.0  506130.0     954.0  1648588.0
3         Abbott   521507.0  446131.0    3707.0   971345.0
4       Nutifood   624695.0  124014.0     512.0   749222.0
5   TH True Milk    65796.0  226685.0    2416.0   294897.0
6            IDP   105143.0  179453.0     892.0   285488.0
7   Mead Johnson   188383.0   54710.0     623.0   243716.0
8        Vinasoy   114791.0  122220.0    3861.0   240872.0
9      Vitadairy    72519.0  115452.0     842.0   188813.0
10     Nutricare     8703.0   41141.0     143.0    49986.0
11      Fonterra     9784.0   17784.0      20.0    27588.0
12   Đà Lạt Milk     1467.0   16689.0      17.0    18173.0
13          Hipp     4136.0   10701.0      96.0    14932.0

In [23]:
#Category_pre-YTD
filtered_sh_sentiment = sh_sentiment[(sh_sentiment["Thời gian"].isin(pre_ytd) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands))]
cate = filtered_sh_sentiment.pivot_table(index='Thương hiệu', columns='Ngành hàng', values='Total new', aggfunc='sum').round(decimals=0).fillna(0)
cate['Total'] = cate.sum(axis=1)
cate = cate.sort_values(by="Total",ascending=False)
cate.reset_index(inplace=True)
cate['BDD'] = cate[['BDD','BAD']].sum(axis=1)
cate['Khác'] = cate['Total'] - cate[['SN','SC','SB','BDD','SĐ','SĐN']].sum(axis=1)
cate = cate[['Thương hiệu','SN','SC','SB','BDD','SĐ','SĐN','Khác','Total']]
cate.columns = ['pre_YTD','SN','SC','SB','BDD','SĐ','SĐN','Khác','Total']
cate

,pre_YTD,SN,SC,SB,BDD,SĐ,SĐN,Khác,Total
0,Vinamilk,831977.0,2445714.0,683401.0,31299.0,263276.0,38363.0,374972.0,4669002.0
1,Nestlé,3209257.0,9288.0,769112.0,18225.0,0.0,0.0,98890.0,4104772.0
2,FCV,127297.0,371440.0,1124960.0,0.0,5204.0,0.0,19687.0,1648588.0
3,Abbott,0.0,0.0,946378.0,0.0,0.0,0.0,24967.0,971345.0
4,Nutifood,44159.0,7017.0,631629.0,9.0,482.0,16435.0,49491.0,749222.0
5,TH True Milk,127779.0,48440.0,9830.0,0.0,0.0,10719.0,98129.0,294897.0
6,IDP,247996.0,21829.0,0.0,0.0,0.0,0.0,15663.0,285488.0
7,Mead Johnson,0.0,0.0,239060.0,0.0,0.0,0.0,4656.0,243716.0
8,Vinasoy,0.0,52989.0,0.0,0.0,0.0,163743.0,24140.0,240872.0
9,Vitadairy,16329.0,0.0,160997.0,0.0,0.0,0.0,11487.0,188813.0
10,Nutricare,5142.0,1703.0,39532.0,80.0,0.0,16.0,3513.0,49986.0
11,Fonterra,0.0,0.0,25522.0,0.0,0.0,0.0,2066.0,27588.0
12,Đà Lạt Milk,15443.0,1392.0,0.0,0.0,0.0,0.0,1338.0,18173.0
13,Hipp,0.0,0.0,8982.0,3358.0,0.0,0.0,2592.0,14932.0

In [24]:
#Số buzz theo tuần
filtered_sh_sentiment = sh_sentiment[((sh_sentiment["Thời gian"] == month)) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
week = filtered_sh_sentiment.pivot_table(index='Tuần', columns='Thương hiệu', values='Total new', aggfunc='sum').round(decimals=0)
column_sums = week.sum(axis=0, numeric_only=True)
week.loc['Total'] = week.sum(numeric_only=True)
week.reset_index(inplace=True)
total_values = week.loc[week['Tuần'] == 'Total'].drop(columns=['Tuần']).iloc[0]
sorted_columns = total_values.sort_values(ascending=False).index
sorted_columns = ['Tuần'] + sorted_columns.tolist()
week = week[sorted_columns]
week

Thương hiệu,Tuần,Nestlé,Vinamilk,TH True Milk,Abbott,Nutifood,Vitadairy,IDP,FCV,Mead Johnson,Nutricare,Fonterra,Vinasoy,Hipp,Đà Lạt Milk
0,01/10/2024 - 07/10/2024,90208.0,115166.0,61883.0,32842.0,22687.0,28799.0,13281.0,7148.0,5804.0,4809.0,2766.0,6944.0,1847.0,1619.0
1,08/10/2024 - 14/10/2024,141973.0,89100.0,80463.0,16766.0,30655.0,27665.0,12160.0,5403.0,5458.0,5661.0,2551.0,4863.0,2161.0,1878.0
2,15/10/2024 - 21/10/2024,80869.0,126487.0,40012.0,32841.0,34896.0,21183.0,10450.0,6091.0,5307.0,3584.0,1513.0,3312.0,3023.0,1125.0
3,22/10/2024 - 28/10/2024,136957.0,114634.0,57149.0,36921.0,23075.0,23556.0,16907.0,5757.0,3950.0,3312.0,5689.0,1724.0,2659.0,706.0
4,29/10/2024 - 31/10/2024,91983.0,47405.0,5054.0,13538.0,14011.0,12799.0,8350.0,2507.0,1077.0,1304.0,5392.0,854.0,1971.0,359.0
5,Total,541990.0,492792.0,244561.0,132908.0,125324.0,114002.0,61148.0,26906.0,21596.0,18670.0,17911.0,17697.0,11661.0,5687.0

In [25]:
#with pd.ExcelWriter(Link, engine='openpyxl',mode='a') as writer:
    #week.to_excel(writer, index=False, sheet_name='week')

In [26]:
with pd.ExcelWriter(Link, engine='openpyxl') as writer:
    SOV.to_excel(writer, sheet_name='Month', startrow=0, startcol=0, index=False)
    brand_sent.to_excel(writer, sheet_name='Month', startrow=0, startcol=3, index=False)
    week.to_excel(writer, sheet_name='Month', startrow=18, startcol=0, index=False)

In [27]:
sh_relevant["Thời gian"] = sh_relevant["Thời gian"].astype(str)
sh_sentiment["Thời gian"] = sh_sentiment["Thời gian"].astype(str)
sh_channel["Thời gian"] = sh_channel["Thời gian"].astype(str)

In [28]:
#Thị phần ngành sữa theo Tháng năm 2024
filtered_sh_sentiment_ytd = sh_sentiment[(sh_sentiment["Thời gian"].str.contains(year,na=False)) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
SOV_YTD = filtered_sh_sentiment_ytd.pivot_table(index='Thương hiệu',columns ='Thời gian', values ='Total new', aggfunc = sum).round().reset_index()
SOV_YTD['Total'] = SOV_YTD.sum(axis=1)
SOV_YTD = SOV_YTD.sort_values(by='Total',ascending=False)
SOV_YTD

C:\Users\Kompa-KTelt056\AppData\Local\Temp\ipykernel_2388\2583928609.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  SOV_YTD['Total'] = SOV_YTD.sum(axis=1)

Thời gian,Thương hiệu,2024-01-01,2024-02-01,2024-03-01,2024-04-01,2024-05-01,2024-06-01,2024-07-01,2024-08-01,2024-09-01,2024-10-01,Total
10,Vinamilk,975475.0,1098439.0,895256.0,493261.0,1086483.0,954176.0,404978.0,607849.0,340150.0,492792.0,7348859.0
6,Nestlé,395300.0,262527.0,290834.0,1257711.0,599086.0,404083.0,432455.0,508305.0,409952.0,541990.0,5102243.0
7,Nutifood,50854.0,37496.0,1064051.0,664963.0,321144.0,612156.0,108454.0,155981.0,103269.0,125324.0,3243692.0
0,Abbott,157165.0,69971.0,52606.0,106687.0,106023.0,704597.0,140398.0,137821.0,183896.0,132908.0,1792072.0
12,Vitadairy,35467.0,17287.0,36216.0,30947.0,43235.0,87055.0,777615.0,172012.0,149599.0,114002.0,1463435.0
4,IDP,18692.0,34573.0,785805.0,75570.0,35512.0,54822.0,61227.0,78183.0,67218.0,61148.0,1272750.0
9,TH True Milk,18513.0,14599.0,63764.0,78560.0,80097.0,86406.0,58345.0,257330.0,182040.0,244561.0,1084215.0
1,FCV,33599.0,22038.0,52168.0,51514.0,66290.0,46819.0,38967.0,89133.0,32516.0,26906.0,459950.0
5,Mead Johnson,18280.0,16414.0,147037.0,40747.0,19785.0,20913.0,58781.0,19492.0,13000.0,21596.0,376045.0
2,Fonterra,77607.0,1991.0,3964.0,62028.0,38271.0,11533.0,4328.0,19180.0,11742.0,17911.0,248555.0
11,Vinasoy,25113.0,9279.0,17584.0,7316.0,14736.0,74609.0,27287.0,25383.0,16034.0,17697.0,235038.0
3,Hipp,6251.0,3744.0,13634.0,21098.0,17744.0,15043.0,18556.0,20781.0,11207.0,11661.0,139719.0
8,Nutricare,6869.0,4878.0,8029.0,9878.0,6743.0,11429.0,7470.0,16288.0,18208.0,18670.0,108462.0
13,Đà Lạt Milk,2098.0,2149.0,2967.0,3933.0,2504.0,5679.0,6570.0,11218.0,7884.0,5687.0,50689.0

In [29]:
with pd.ExcelWriter(Link, engine='openpyxl',mode='a',if_sheet_exists='overlay') as writer:
    SOV_YTD.to_excel(writer, sheet_name='YTD_SOV', startrow=0, startcol=0, index=False)
    SOV_pre_YTD.to_excel(writer, sheet_name='YTD_SOV', startrow=18, startcol=0, index=False)

In [30]:
#Sắc thái thảo luận của các thương hiệu YTD
filtered_sh_sentiment_YTD = sh_sentiment[(sh_sentiment["Thời gian"].str.contains(year,na=False)) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands)]
sentiment_brand = filtered_sh_sentiment_YTD.groupby(["Thương hiệu"]).agg({"Positive new": "sum","Neutral new": "sum","Negative new": "sum","Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()
sentiment_brand.columns =['YTD','Positive','Neutral','Negative','Total new']
sentiment_brand

             YTD   Positive    Neutral  Negative  Total new
0       Vinamilk  5292494.0  2053447.0    2918.0  7348859.0
1         Nestlé  4735528.0   366261.0     454.0  5102243.0
2       Nutifood  2780688.0   462027.0     977.0  3243692.0
3         Abbott  1029094.0   748232.0   14745.0  1792072.0
4      Vitadairy  1054897.0   408101.0     437.0  1463435.0
5            IDP   983192.0   283938.0    5621.0  1272750.0
6   TH True Milk   144113.0   937924.0    2178.0  1084215.0
7            FCV   129020.0   330123.0     807.0   459950.0
8   Mead Johnson   223044.0   151590.0    1411.0   376045.0
9       Fonterra   161833.0    86653.0      70.0   248555.0
10       Vinasoy   114229.0   120511.0     298.0   235038.0
11          Hipp    31616.0   107911.0     192.0   139719.0
12     Nutricare    12601.0    95763.0      98.0   108462.0
13   Đà Lạt Milk     2628.0    48042.0      19.0    50689.0

In [31]:
with pd.ExcelWriter(Link, engine='openpyxl',mode ='a',if_sheet_exists='overlay') as writer:
    brand_sent_pre_ytd.to_excel(writer, sheet_name='YTD_brand_sent', startrow=0, startcol=0, index=False)
    sentiment_brand.to_excel(writer, sheet_name='YTD_brand_sent', startrow=0, startcol=6, index=False)

In [32]:
#Category
filtered_sh_sentiment = sh_sentiment[(sh_sentiment["Thời gian"].str.contains(year,na=False) & ~sh_sentiment["Thương hiệu"].isin(exclude_brands))]
cate_ytd = filtered_sh_sentiment.pivot_table(index='Thương hiệu', columns='Ngành hàng', values='Total new', aggfunc='sum').round(decimals=0).fillna(0)
cate_ytd['Total'] = cate_ytd.sum(axis=1)
cate_ytd = cate_ytd.sort_values(by="Total",ascending=False)
cate_ytd.reset_index(inplace=True)
cate_ytd['BDD'] = cate_ytd[['BDD','BAD']].sum(axis=1)
cate_ytd['Khác'] = cate_ytd['Total'] - cate_ytd[['SN','SC','SB','BDD','SĐ','SĐN']].sum(axis=1)
cate_ytd = cate_ytd[['Thương hiệu','SN','SC','SB','BDD','SĐ','SĐN','Khác','Total']]
cate_ytd.columns = ['YTD','SN','SC','SB','BDD','SĐ','SĐN','Khác','Total']
cate_ytd

,YTD,SN,SC,SB,BDD,SĐ,SĐN,Khác,Total
0,Vinamilk,693977.0,3245703.0,2060829.0,75064.0,798666.0,25500.0,449120.0,7348859.0
1,Nestlé,2199010.0,8036.0,2645721.0,19023.0,0.0,0.0,230453.0,5102243.0
2,Nutifood,85003.0,6750.0,2972989.0,993.0,1746.0,5593.0,170618.0,3243692.0
3,Abbott,0.0,0.0,1767780.0,0.0,0.0,0.0,24292.0,1792072.0
4,Vitadairy,50601.0,0.0,1344202.0,0.0,0.0,0.0,68632.0,1463435.0
5,IDP,1236902.0,29733.0,0.0,0.0,0.0,0.0,6115.0,1272750.0
6,TH True Milk,124135.0,67467.0,23838.0,0.0,0.0,33786.0,834989.0,1084215.0
7,FCV,81318.0,296750.0,71826.0,0.0,8675.0,0.0,1381.0,459950.0
8,Mead Johnson,0.0,0.0,374693.0,0.0,0.0,0.0,1352.0,376045.0
9,Fonterra,0.0,0.0,248250.0,0.0,0.0,0.0,305.0,248555.0
10,Vinasoy,0.0,11208.0,0.0,0.0,0.0,211218.0,12612.0,235038.0
11,Hipp,0.0,0.0,73445.0,15067.0,0.0,0.0,51207.0,139719.0
12,Nutricare,12456.0,2146.0,77091.0,1034.0,0.0,280.0,15455.0,108462.0
13,Đà Lạt Milk,43764.0,4049.0,0.0,0.0,0.0,0.0,2876.0,50689.0

In [33]:
with pd.ExcelWriter(Link, engine='openpyxl',mode ='a',if_sheet_exists='overlay') as writer:
    cate.to_excel(writer, sheet_name='YTD_cate', startrow=0, startcol=0, index=False)
    cate_ytd.to_excel(writer, sheet_name='YTD_cate', startrow=0, startcol=12, index=False)

In [34]:
#Relevant thảo luận của các thương hiệu YTD
filtered_sh_relevant_YTD = sh_relevant[(sh_relevant["Thời gian"].str.contains(year,na=False)) & ~sh_relevant["Thương hiệu"].isin(exclude_brands)]
relevant_brand = filtered_sh_relevant_YTD.groupby(["Thương hiệu"]).agg({"Relevant new": "sum","Irrelevant new": "sum","Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()
relevant_brand

     Thương hiệu  Relevant new  Irrelevant new  Total new
0       Vinamilk     6893690.0        455169.0  7348859.0
1         Nestlé     5065777.0         36466.0  5102243.0
2       Nutifood     3048621.0        195071.0  3243692.0
3         Abbott     1641993.0        150079.0  1792072.0
4      Vitadairy     1445674.0         17761.0  1463435.0
5            IDP     1253085.0         19665.0  1272750.0
6   TH True Milk      547869.0        536346.0  1084215.0
7            FCV      432046.0         27904.0   459950.0
8   Mead Johnson      360958.0         15087.0   376045.0
9       Fonterra      221408.0         27147.0   248555.0
10       Vinasoy      215174.0         19864.0   235038.0
11          Hipp      127582.0         12137.0   139719.0
12     Nutricare      104126.0          4336.0   108462.0
13   Đà Lạt Milk       50498.0           191.0    50689.0

In [35]:
with pd.ExcelWriter(Link, engine='openpyxl', mode='a') as writer:
    relevant_brand.to_excel(writer, index=False, sheet_name='YTD_rlv')

In [36]:
# Thảo luận của các thương hiệu theo kênh YTD
filtered_sh_channel_YTD = sh_channel[(sh_channel["Thời gian"].str.contains(year,na=False)) & ~sh_channel["Thương hiệu"].isin(exclude_brands)]
channel_brand = filtered_sh_channel_YTD.groupby(["Thương hiệu"]).agg({"Fanpage new": "sum","FB page new": "sum","FB user new": "sum","FB group new": "sum","Tiktok new": "sum","Forum new": "sum","News new": "sum","Youtube new": "sum","Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()  
channel_brand["Khác"] = channel_brand["Total new"] - channel_brand.drop(columns=["Thương hiệu", "Total new"]).sum(axis=1)
channel_brand = channel_brand[['Thương hiệu','Fanpage new','FB page new','FB user new','FB group new','Tiktok new','Forum new','News new','Youtube new','Khác','Total new']]
channel_brand

,Thương hiệu,Fanpage new,FB page new,FB user new,FB group new,Tiktok new,Forum new,News new,Youtube new,Khác,Total new
0,Vinamilk,596096.0,1601237.0,3925744.0,855721.0,293725.0,26453,23135,17876,8872.0,7348859.0
1,Nestlé,474850.0,1810427.0,2014938.0,768316.0,29800.0,264,2376,252,1020.0,5102243.0
2,Nutifood,1963141.0,380338.0,582992.0,255572.0,55902.0,164,1444,1017,3122.0,3243692.0
3,Abbott,407811.0,330708.0,482779.0,535877.0,33960.0,365,378,151,43.0,1792072.0
4,Vitadairy,135367.0,472563.0,514494.0,306617.0,32886.0,56,208,520,724.0,1463435.0
5,IDP,183855.0,147699.0,503250.0,67225.0,355522.0,190,1483,12427,1099.0,1272750.0
6,TH True Milk,76752.0,669093.0,137753.0,154931.0,29234.0,449,4985,10375,643.0,1084215.0
7,FCV,37094.0,143248.0,122647.0,116037.0,40098.0,74,225,475,52.0,459950.0
8,Mead Johnson,1204.0,201163.0,50126.0,113102.0,9473.0,85,188,108,596.0,376045.0
9,Fonterra,23869.0,113567.0,95835.0,7939.0,7166.0,11,103,52,13.0,248555.0
10,Vinasoy,112383.0,26397.0,54560.0,27936.0,12881.0,15,586,256,24.0,235038.0
11,Hipp,4238.0,38928.0,15364.0,73681.0,7183.0,31,8,13,273.0,139719.0
12,Nutricare,5855.0,17108.0,42621.0,30534.0,11843.0,1,183,188,129.0,108462.0
13,Đà Lạt Milk,523.0,10533.0,14017.0,24503.0,701.0,25,120,68,199.0,50689.0

In [37]:
with pd.ExcelWriter(Link, engine='openpyxl', mode='a') as writer:
    channel_brand.to_excel(writer, index=False, sheet_name='YTD_channel')

# Ngành hàng

Sentiment, Relevant

In [38]:
def process_data(df, columns, nganh_hang, year):
    filtered_df = df[(df["Ngành hàng"] == nganh_hang) & (df["Thời gian"].str.contains(year, na=False))]
    
    grouped_df = filtered_df.groupby(["Sản phẩm"]).agg(columns).sort_values(by="Total new", ascending=False).reset_index().round()
    
    top_13 = grouped_df.head(13)
    khac = grouped_df.iloc[13:].agg(columns).to_frame().transpose()
    
    result_df = pd.concat([top_13, khac], ignore_index=True)
    result_df.loc[13, 'Sản phẩm'] = 'Sản phẩm khác'
    
    return result_df


# Define columns for Sentiment
sentiment_columns = { "Total new": "sum", "Positive new": "sum", "Neutral new": "sum", "Negative new": "sum"}

# Define nganh_hang values
nganh_hang_list = ['SC', 'SN', 'SB','SĐ','SĐN']

existing_excel_path = Link
existing_excel = pd.ExcelFile(existing_excel_path)

with pd.ExcelWriter(existing_excel_path, engine='openpyxl', mode='a',if_sheet_exists='overlay') as writer:
    start_column = 0  # Initialize start column for each df
    for nganh_hang in nganh_hang_list:
        # Process data for each nganh_hang
        sentiment_data = process_data(sh_sentiment, sentiment_columns, nganh_hang, year)
        
        # Rename the 'Sản phẩm' column to the current 'nganh_hang' value
        sentiment_data.rename(columns={'Sản phẩm': nganh_hang}, inplace=True)
        
        # Display the sentiment_data for debugging
        print(f"Sentiment ({nganh_hang}):")
        print(sentiment_data)
        print("\n" + "="*50 + "\n")  # Add a separator for better visibility
        
        # Save sentiment_data to the existing Excel file
        sentiment_data.to_excel(writer, sheet_name="Sentiment_Cate", startcol=start_column, index=False)
        
        # Adjust start column for the next DataFrame
        start_column += len(sentiment_data.columns) + 2  # Increment by number of columns + some padding

# Close the existing Excel file
existing_excel.close()

# Define columns for Relevant
relevant_columns = {"Relevant new": "sum","Irrelevant new": "sum","Total new": "sum"}

# Define nganh_hang values
nganh_hang_list = ['SC', 'SN', 'SB','SĐ','SĐN']

existing_excel_path = Link
existing_excel = pd.ExcelFile(existing_excel_path)

with pd.ExcelWriter(existing_excel_path, engine='openpyxl', mode='a',if_sheet_exists='overlay') as writer:
    start_column = 0  # Initialize start column for each df
    for nganh_hang in nganh_hang_list:
        # Process data for each nganh_hang
        relevant_data = process_data(sh_relevant, relevant_columns, nganh_hang, year)
        
        # Rename the 'Sản phẩm' column to the current 'nganh_hang' value
        relevant_data.rename(columns={'Sản phẩm': nganh_hang}, inplace=True)
        
        # Display the sentiment_data for debugging
        print(f"Relevant ({nganh_hang}):")
        print(relevant_data)
        print("\n" + "="*50 + "\n")  # Add a separator for better visibility
        
        # Save sentiment_data to the existing Excel file
        relevant_data.to_excel(writer, sheet_name="Relevant_Cate", startcol=start_column, index=False)
        
        # Adjust start column for the next DataFrame
        start_column += len(relevant_data.columns) + 2  # Increment by number of columns + some padding

# Close the existing Excel file
existing_excel.close()

Sentiment (SC):
                       SC  Total new  Positive new  Neutral new  Negative new
0       Sữa chua Vinamilk   896405.0      719133.0     177055.0         217.0
1          Vinamilk Probi   826097.0      688911.0     136628.0         558.0
2           Vinamilk Susu   737825.0      629841.0     107892.0          92.0
3           Vinamilk Hero   726336.0      628918.0      97414.0           4.0
4                  Yomost   288091.0       96051.0     191824.0         216.0
5         Sữa chua Yakult    90375.0       28374.0      61799.0         202.0
6         Vinamilk Yomilk    58432.0       51999.0       6432.0           1.0
7           Sữa chua Hoff    49420.0        4030.0      44953.0         437.0
8          TH True Yogurt    40161.0        6822.0      33070.0         269.0
9         Sữa chua TOPKID    16236.0        3840.0      12354.0          41.0
10  Sữa chua uống LIF KUN    13020.0         838.0      12112.0          71.0
11      Sữa chua ăn Ba Vì    12662.0         733.0      11927.0           1.0
12                   Veyo    11208.0        7596.0       3610.0           2.0
13          Sản phẩm khác    57372.0       11780.0      45567.0          24.0

==================================================

Sentiment (SN):
                           SN  Total new  Positive new  Neutral new  \
0                        Milo  2145832.0     2036038.0     109581.0
1                     LOF KUN  1141902.0      916864.0     220214.0
2               Vinamilk 100%   523368.0      469807.0      53545.0
3         Vinamilk Green Farm   107540.0       70974.0      36546.0
4      Sữa lúa mạch Lof Malto    67841.0       52274.0      15056.0
5       Sữa tươi TH True Milk    65040.0        8277.0      56333.0
6             Sữa nước Nestlé    53178.0         447.0      52731.0
7   Sữa tươi Dutch Lady (RTD)    47108.0        2239.0      44823.0
8        Sữa tươi Đà Lạt Milk    43764.0        2369.0      41380.0
9           Sữa tươi NutiMilk    40543.0       23166.0      17361.0
10                   Ovaltine    34208.0       20235.0      13859.0
11              Vinamilk Fino    25168.0        8628.0      16432.0
12   Sữa non Colos Fresh Milk    24847.0       20460.0       4387.0
13              Sản phẩm khác   206827.0       45434.0     160643.0

    Negative new
0          213.0
1         4824.0
2           16.0
3           20.0
4          511.0
5          430.0
6            0.0
7           47.0
8           16.0
9           17.0
10         115.0
11         108.0
12           0.0
13         753.0

==================================================

Sentiment (SB):
                           SB  Total new  Positive new  Neutral new  \
0                   Nuvi Grow  1873090.0     1836582.0      36483.0
1                   Grow Plus  1046910.0      877035.0     169278.0
2   Vinamilk Dielac Grow Plus   797149.0      393525.0     403611.0
3                  Colos gain   747359.0      688210.0      59053.0
4               Nan Optipro 4   695941.0      681942.0      13998.0
5               S-26 Ultima 3   657667.0      609878.0      47741.0
6             Similac Vietnam   654973.0      383691.0     270091.0
7                         Nan   579878.0      508350.0      71449.0
8         Abbott Grow Vietnam   568727.0      332268.0     235929.0
9          Vinamilk Yoko Gold   452335.0      431870.0      20439.0
10           Nan Infinipro A2   393589.0      388548.0       5040.0
11                  ColosBaby   389425.0      235693.0     153479.0
12          Pediasure Vietnam   331546.0      215092.0     115667.0
13              Sản phẩm khác  2472075.0     1604863.0     853454.0

    Negative new
0           25.0
1          597.0
2           13.0
3           96.0
4            2.0
5           48.0
6         1191.0
7           79.0
8          530.0
9           26.0
10           1.0
11         253.0
12         787.0
13       13755.0

==================================================

Sentiment (SĐ):
                              SĐ  Total new  Positive new  Neutral new  \
0               Vinamilk Ông thọ   755245.0      364978.0     390143.0
1   Vinamilk Ngôi Sao Phương Nam    25460.0        3493.0      21965.0
2               Sữa đặc Vinamilk    13466.0         287.0      13179.0
3             Sữa đặc Dutch Lady     8444.0         163.0       8281.0
4               Vinamilk Tài lộc     4495.0          72.0       4421.0
5               Sữa đặc Nutifood     1746.0         177.0       1569.0
6               Sữa đặc Hoàn Hảo      231.0           1.0        230.0
7                            NaN        0.0           0.0          0.0
13                 Sản phẩm khác        NaN           NaN          NaN

    Negative new
0          124.0
1            2.0
2            0.0
3            0.0
4            2.0
5            0.0
6            0.0
7            0.0
13           NaN

==================================================

Sentiment (SĐN):
                         SĐN  Total new  Positive new  Neutral new  \
0                       Fami   203696.0       97953.0     105460.0
1                TH True Nut    29791.0        2428.0      27269.0
2         Vinamilk Super Nut     9120.0        2368.0       6737.0
3               Sữa hạt Veyo     7464.0        4344.0       3118.0
4      Sữa đậu nành Nutifood     5593.0         273.0       5320.0
5        Vinamilk Hạt Óc Chó     5455.0        1553.0       3868.0
6         Vinamilk Hạnh Nhân     3409.0        1409.0       1997.0
7            Vinamilk Đậu Đỏ     3399.0        1410.0       1987.0
8                TH true OAT     2994.0         609.0       2383.0
9      Sữa Đậu Nành Vinamilk     2278.0         994.0       1283.0
10  Vinamilk Sữa hạt Cao Đạm     1771.0         207.0       1563.0
11        TH True Light Meal     1001.0         210.0        774.0
12             Nunut Lục Bảo      280.0           0.0        280.0
13             Sản phẩm khác      126.0          13.0        113.0

    Negative new
0          283.0
1           94.0
2           15.0
3            2.0
4            0.0
5           34.0
6            3.0
7            2.0
8            2.0
9            1.0
10           1.0
11          17.0
12           0.0
13           0.0

==================================================

Relevant (SC):
                       SC  Relevant new  Irrelevant new  Total new
0       Sữa chua Vinamilk      840540.0         55865.0   896405.0
1          Vinamilk Probi      756076.0         70021.0   826097.0
2           Vinamilk Susu      674911.0         62914.0   737825.0
3           Vinamilk Hero      663717.0         62619.0   726336.0
4                  Yomost      273494.0         14597.0   288091.0
5         Sữa chua Yakult       75391.0         14984.0    90375.0
6         Vinamilk Yomilk       53220.0          5212.0    58432.0
7           Sữa chua Hoff       47595.0          1825.0    49420.0
8          TH True Yogurt       37268.0          2893.0    40161.0
9         Sữa chua TOPKID       16178.0            58.0    16236.0
10  Sữa chua uống LIF KUN       12789.0           231.0    13020.0
11      Sữa chua ăn Ba Vì       12651.0            11.0    12662.0
12                   Veyo        9999.0          1209.0    11208.0
13          Sản phẩm khác       55556.0          1816.0    57372.0

==================================================

Relevant (SN):
                           SN  Relevant new  Irrelevant new  Total new
0                        Milo     2122952.0         22880.0  2145832.0
1                     LOF KUN     1126601.0         15301.0  1141902.0
2               Vinamilk 100%      499926.0         23442.0   523368.0
3         Vinamilk Green Farm      101824.0          5716.0   107540.0
4      Sữa lúa mạch Lof Malto       65416.0          2425.0    67841.0
5       Sữa tươi TH True Milk       64759.0           281.0    65040.0
6             Sữa nước Nestlé       53178.0             0.0    53178.0
7   Sữa tươi Dutch Lady (RTD)       41993.0          5115.0    47108.0
8        Sữa tươi Đà Lạt Milk       43606.0           158.0    43764.0
9           Sữa tươi NutiMilk       36860.0          3683.0    40543.0
10                   Ovaltine       30851.0          3357.0    34208.0
11              Vinamilk Fino       23885.0          1283.0    25168.0
12   Sữa non Colos Fresh Milk       24766.0            81.0    24847.0
13              Sản phẩm khác      199536.0          7291.0   206827.0

==================================================

Relevant (SB):
                           SB  Relevant new  Irrelevant new  Total new
0                   Nuvi Grow     1853333.0         19757.0  1873090.0
1                   Grow Plus      988977.0         57933.0  1046910.0
2   Vinamilk Dielac Grow Plus      743458.0         53691.0   797149.0
3                  Colos gain      743842.0          3517.0   747359.0
4               Nan Optipro 4      693528.0          2413.0   695941.0
5               S-26 Ultima 3      657328.0           339.0   657667.0
6             Similac Vietnam      605683.0         49290.0   654973.0
7                         Nan      570396.0          9482.0   579878.0
8         Abbott Grow Vietnam      516145.0         52582.0   568727.0
9          Vinamilk Yoko Gold      441143.0         11192.0   452335.0
10           Nan Infinipro A2      393020.0           569.0   393589.0
11                  ColosBaby      382960.0          6465.0   389425.0
12          Pediasure Vietnam      307963.0         23583.0   331546.0
13              Sản phẩm khác     2337971.0        134104.0  2472075.0

==================================================

Relevant (SĐ):
                              SĐ  Relevant new  Irrelevant new  Total new
0               Vinamilk Ông thọ      717688.0         37557.0   755245.0
1   Vinamilk Ngôi Sao Phương Nam       24513.0           947.0    25460.0
2               Sữa đặc Vinamilk       13317.0           149.0    13466.0
3             Sữa đặc Dutch Lady        8444.0             0.0     8444.0
4               Vinamilk Tài lộc        4457.0            38.0     4495.0
5               Sữa đặc Nutifood        1744.0             2.0     1746.0
6               Sữa đặc Hoàn Hảo         231.0             0.0      231.0
7                            NaN           0.0             0.0        0.0
13                 Sản phẩm khác           NaN             NaN        NaN

==================================================

Relevant (SĐN):
                         SĐN  Relevant new  Irrelevant new  Total new
0                       Fami      187618.0         16078.0   203696.0
1                TH True Nut       29742.0            49.0    29791.0
2         Vinamilk Super Nut        8751.0           369.0     9120.0
3               Sữa hạt Veyo        6272.0          1192.0     7464.0
4      Sữa đậu nành Nutifood        5588.0             5.0     5593.0
5        Vinamilk Hạt Óc Chó        5020.0           435.0     5455.0
6         Vinamilk Hạnh Nhân        3067.0           342.0     3409.0
7            Vinamilk Đậu Đỏ        3057.0           342.0     3399.0
8                TH true OAT        2994.0             0.0     2994.0
9      Sữa Đậu Nành Vinamilk        1682.0           596.0     2278.0
10  Vinamilk Sữa hạt Cao Đạm        1733.0            38.0     1771.0
11        TH True Light Meal         982.0            19.0     1001.0
12             Nunut Lục Bảo         280.0             0.0      280.0
13             Sản phẩm khác         126.0             0.0      126.0

==================================================

In [39]:
#Sentiment BDD

filtered_sh_sentiment_BDD = sh_sentiment[(sh_sentiment["Ngành hàng"].isin(bdd)) & (sh_sentiment["Thời gian"].str.contains(year, na=False))]
sentiment_BDD = filtered_sh_sentiment_BDD.groupby(["Sản phẩm"]).agg(sentiment_columns).sort_values(by="Total new", ascending=False).reset_index().round()

sentiment_BDD_top_13 = sentiment_BDD.head(13)

SP_khac = sentiment_BDD.iloc[13:].agg(sentiment_columns).to_frame().transpose()
    
sentiment_BDD = pd.concat([sentiment_BDD_top_13, SP_khac], ignore_index=True)
sentiment_BDD.loc[13, 'Sản phẩm'] = 'Sản phẩm khác'
#sentiment_BDD.loc[13, 'Khác'] = sentiment_BDD.loc[13, 'Total new']
sentiment_BDD.rename(columns={'Sản phẩm': 'BDD'}, inplace=True)
sentiment_BDD

,BDD,Total new,Positive new,Neutral new,Negative new
0,Vinamilk Ridielac,74303.0,50598.0,23701.0,4.0
1,Gerber,18859.0,1220.0,17635.0,4.0
2,Bột ăn dặm Hipp,15067.0,1224.0,13827.0,15.0
3,Bột ăn dặm Metacare,993.0,34.0,959.0,0.0
4,Bột ăn dặm Nuti IQ,993.0,331.0,662.0,0.0
5,Bột Dinh Dưỡng Vinamilk,666.0,142.0,524.0,0.0
6,Cerelac,164.0,27.0,137.0,0.0
7,Bột ăn dặm Vinamilk Optimum Gold,94.0,2.0,92.0,0.0
8,Bột ăn dặm Coloscare,41.0,0.0,41.0,0.0
9,Bột ăn dặm Vinamilk Organic Gold,1.0,0.0,1.0,0.0
10,NaN,0.0,0.0,0.0,0.0
13,Sản phẩm khác,NaN,NaN,NaN,NaN

In [40]:
with pd.ExcelWriter(Link, engine='openpyxl', mode='a',if_sheet_exists='overlay') as writer:
    sentiment_BDD.to_excel(writer, sheet_name='Sentiment_Cate', startrow=0, startcol=35, index=False)

In [41]:
#Relevant BDD

filtered_sh_relevant_BDD = sh_relevant[(sh_relevant["Ngành hàng"].isin(bdd)) & (sh_relevant["Thời gian"].str.contains(year, na=False))]
relevant_BDD = filtered_sh_relevant_BDD.groupby(["Sản phẩm"]).agg(relevant_columns).sort_values(by="Total new", ascending=False).reset_index().round()

relevant_BDD_top_13 = relevant_BDD.head(13)

SP_khac = relevant_BDD.iloc[13:].agg(relevant_columns).to_frame().transpose()
    
relevant_BDD = pd.concat([relevant_BDD_top_13, SP_khac], ignore_index=True)
relevant_BDD.loc[13, 'Sản phẩm'] = 'Sản phẩm khác'
#relevant_BDD.loc[13, 'Khác'] = relevant_BDD.loc[13, 'Total new']
relevant_BDD.rename(columns={'Sản phẩm': 'BDD'}, inplace=True)
relevant_BDD

                                 BDD  Relevant new  Irrelevant new  Total new
0                  Vinamilk Ridielac       67153.0          7150.0    74303.0
1                             Gerber       18859.0             0.0    18859.0
2                    Bột ăn dặm Hipp       14776.0           291.0    15067.0
3                Bột ăn dặm Metacare         991.0             2.0      993.0
4                 Bột ăn dặm Nuti IQ         993.0             0.0      993.0
5            Bột Dinh Dưỡng Vinamilk         666.0             0.0      666.0
6                            Cerelac         164.0             0.0      164.0
7   Bột ăn dặm Vinamilk Optimum Gold          94.0             0.0       94.0
8               Bột ăn dặm Coloscare          41.0             0.0       41.0
9   Bột ăn dặm Vinamilk Organic Gold           1.0             0.0        1.0
10                               NaN           0.0             0.0        0.0
13                     Sản phẩm khác           NaN             NaN        NaN

In [42]:
with pd.ExcelWriter(Link, engine='openpyxl', mode='a',if_sheet_exists='overlay') as writer:
    relevant_BDD.to_excel(writer, sheet_name='Relevant_Cate', startrow=0, startcol=29, index=False)

Channel

In [43]:
def process_data_channel(df, columns, nganh_hang, year):
    filtered_df = df[(df["Ngành hàng"] == nganh_hang) & (df["Thời gian"].str.contains(year, na=False))]
    
    grouped_df = filtered_df.groupby(["Sản phẩm"]).agg(columns).sort_values(by="Total new", ascending=False).reset_index().round()
    
    grouped_df["Khác"] = grouped_df["Total new"] - grouped_df.drop(columns=["Sản phẩm", "Total new"]).sum(axis=1)
    
    top_13 = grouped_df.head(13)
    khac = grouped_df.iloc[13:].agg(columns).to_frame().transpose()
    
    result_df = pd.concat([top_13, khac], ignore_index=True)
    result_df.loc[13, 'Sản phẩm'] = 'Sản phẩm khác'
    result_df.loc[13, 'Khác'] = result_df.loc[13, 'Total new'] - result_df.loc[13, ['Fanpage new', 'FB page new', 'FB user new', 'FB group new', 'Tiktok new', 'Forum new', 'News new', 'Youtube new']].sum()
    result_df = result_df[['Sản phẩm','Fanpage new','FB page new','FB user new','FB group new','Tiktok new','Forum new','News new','Youtube new','Khác','Total new']]
    
    return result_df

# Define columns for Channel
channel_columns = {"Fanpage new": "sum","FB page new": "sum","FB user new": "sum","FB group new": "sum","Tiktok new": "sum","Forum new": "sum","News new": "sum","Youtube new": "sum","Total new": "sum"}

# Define nganh_hang values
nganh_hang_list = ['SC', 'SN', 'SB','SĐ','SĐN']

existing_excel_path = Link
existing_excel = pd.ExcelFile(existing_excel_path)

with pd.ExcelWriter(existing_excel_path, engine='openpyxl', mode='a',if_sheet_exists='overlay') as writer:
    start_column = 0  # Initialize start column for each df
    for nganh_hang in nganh_hang_list:
        # Process data for each nganh_hang
        channel_data = process_data(sh_channel, channel_columns, nganh_hang, year)
        
        # Rename the 'Sản phẩm' column to the current 'nganh_hang' value
        channel_data.rename(columns={'Sản phẩm': nganh_hang}, inplace=True)
        
        # Display the sentiment_data for debugging
        print(f"Channel ({nganh_hang}):")
        print(channel_data)
        print("\n" + "="*50 + "\n")  # Add a separator for better visibility
        
        # Save sentiment_data to the existing Excel file
        channel_data.to_excel(writer, sheet_name="Channel_Cate", startcol=start_column, index=False)
        
        # Adjust start column for the next DataFrame
        start_column += len(channel_data.columns) + 2  # Increment by number of columns + some padding

# Close the existing Excel file
existing_excel.close()

Channel (SC):
                       SC  Fanpage new  FB page new  FB user new  \
0       Sữa chua Vinamilk      74483.0     226494.0     518025.0
1          Vinamilk Probi      12134.0     452425.0     303363.0
2           Vinamilk Susu     190879.0     168384.0     318503.0
3           Vinamilk Hero     189358.0     167697.0     314460.0
4                  Yomost      11428.0     128514.0      81422.0
5         Sữa chua Yakult      13430.0      24214.0      22013.0
6         Vinamilk Yomilk       2530.0       9450.0      43387.0
7           Sữa chua Hoff        327.0      13469.0      23379.0
8          TH True Yogurt       9454.0      16518.0       6948.0
9         Sữa chua TOPKID       1631.0       6460.0       3867.0
10  Sữa chua uống LIF KUN        299.0       1989.0       5254.0
11      Sữa chua ăn Ba Vì        100.0       1170.0       6875.0
12                   Veyo       6291.0        241.0       2699.0
13          Sản phẩm khác       4446.0       9908.0      22752.0

    FB group new  Tiktok new  Forum new  News new  Youtube new  Total new
0        60347.0     15990.0       74.0      34.0        150.0   896405.0
1        28759.0     27318.0       69.0       3.0        560.0   826097.0
2         5620.0     48399.0        0.0      24.0       6003.0   737825.0
3          845.0     48172.0        0.0      23.0       5779.0   726336.0
4        30012.0     36614.0        2.0      19.0         76.0   288091.0
5         8602.0     21735.0      114.0      70.0        156.0    90375.0
6          165.0      2890.0        0.0       0.0          6.0    58432.0
7         7852.0      4368.0        3.0       0.0          7.0    49420.0
8         5852.0       873.0       20.0     273.0        146.0    40161.0
9         4195.0        29.0        0.0      17.0         32.0    16236.0
10        3366.0       625.0        1.0      54.0       1429.0    13020.0
11        4193.0        51.0       19.0     144.0          8.0    12662.0
12         398.0      1489.0        0.0      82.0          8.0    11208.0
13       15667.0      4013.0       22.0     127.0        354.0    57372.0

==================================================

Channel (SN):
                           SN  Fanpage new  FB page new  FB user new  \
0                        Milo      12259.0     879466.0    1094552.0
1                     LOF KUN     151956.0     127465.0     469457.0
2               Vinamilk 100%       7404.0      62812.0     399735.0
3         Vinamilk Green Farm        830.0      50065.0      41452.0
4      Sữa lúa mạch Lof Malto      27395.0       8999.0       8109.0
5       Sữa tươi TH True Milk       4673.0       7889.0       9409.0
6             Sữa nước Nestlé          7.0       6301.0      30595.0
7   Sữa tươi Dutch Lady (RTD)       5357.0       3995.0      10370.0
8        Sữa tươi Đà Lạt Milk        457.0       8851.0      12057.0
9           Sữa tươi NutiMilk       3035.0      20279.0       5937.0
10                   Ovaltine      17105.0       1791.0      11839.0
11              Vinamilk Fino       7502.0        779.0       6139.0
12   Sữa non Colos Fresh Milk      13839.0       2297.0       7942.0
13              Sản phẩm khác      24287.0      46909.0      63258.0

    FB group new  Tiktok new  Forum new  News new  Youtube new  Total new
0       144359.0     14264.0       57.0     760.0         91.0  2145832.0
1        52049.0    329565.0      105.0     513.0       9826.0  1141902.0
2        27916.0     25320.0        0.0       0.0         95.0   523368.0
3         2272.0     11372.0        4.0     665.0        440.0   107540.0
4         1344.0     20907.0        0.0      25.0       1057.0    67841.0
5        40170.0      1883.0      188.0     539.0        204.0    65040.0
6        15896.0       329.0        1.0      24.0         10.0    53178.0
7        26375.0       889.0       16.0      44.0         50.0    47108.0
8        21442.0       645.0       16.0      44.0         56.0    43764.0
9         4258.0      6851.0        0.0      72.0         74.0    40543.0
10        2038.0      1377.0       21.0       5.0         28.0    34208.0
11        8204.0      2510.0        2.0       0.0         10.0    25168.0
12         743.0        16.0        0.0       0.0          0.0    24847.0
13       55242.0     14214.0      124.0     342.0        728.0   206827.0

==================================================

Channel (SB):
                           SB  Fanpage new  FB page new  FB user new  \
0                   Nuvi Grow    1778982.0      27912.0      47969.0
1                   Grow Plus     173771.0     189791.0     467376.0
2   Vinamilk Dielac Grow Plus       5274.0      19937.0     722838.0
3                  Colos gain      11523.0     301959.0     305980.0
4               Nan Optipro 4      25185.0     304378.0     251706.0
5               S-26 Ultima 3     299592.0     234326.0      67307.0
6             Similac Vietnam       6630.0     185716.0      23971.0
7                         Nan      23431.0      71579.0     102822.0
8         Abbott Grow Vietnam     371420.0      16543.0     147518.0
9          Vinamilk Yoko Gold       2825.0      39756.0     340639.0
10           Nan Infinipro A2      47798.0     129823.0     198477.0
11                  ColosBaby      90121.0      56059.0     100341.0
12          Pediasure Vietnam      13076.0      48583.0     223756.0
13              Sản phẩm khác     190914.0     740491.0     946337.0

    FB group new  Tiktok new  Forum new  News new  Youtube new  Total new
0        13662.0      4334.0        0.0      52.0        132.0  1873090.0
1       183846.0     29665.0       21.0     120.0        296.0  1046910.0
2        40787.0      8252.0        2.0       2.0         36.0   797149.0
3       119811.0      7819.0        0.0       2.0         43.0   747359.0
4       114236.0       397.0        3.0       3.0         18.0   695941.0
5        52445.0      3979.0        1.0       0.0          7.0   657667.0
6       427055.0     11345.0      118.0      19.0        110.0   654973.0
7       375990.0      5908.0       30.0       3.0         26.0   579878.0
8        21022.0     12176.0        8.0      22.0          7.0   568727.0
9        64624.0      4384.0        6.0       3.0          4.0   452335.0
10       15818.0      1222.0        0.0       0.0         16.0   393589.0
11      123942.0     18357.0       21.0      66.0        144.0   389425.0
12       44246.0      1741.0       74.0      38.0         21.0   331546.0
13      482215.0    107259.0      496.0    1848.0       1222.0  2472075.0

==================================================

Channel (SĐ):
                              SĐ  Fanpage new  FB page new  FB user new  \
0               Vinamilk Ông thọ       4416.0     214814.0     306132.0
1   Vinamilk Ngôi Sao Phương Nam         21.0       7206.0       5391.0
2               Sữa đặc Vinamilk          0.0        261.0       2878.0
3             Sữa đặc Dutch Lady          0.0        733.0       4521.0
4               Vinamilk Tài lộc          1.0        146.0       2038.0
5               Sữa đặc Nutifood          0.0        540.0        329.0
6               Sữa đặc Hoàn Hảo          0.0          3.0         13.0
7                            NaN          0.0          0.0          0.0
13                 Sản phẩm khác          NaN          NaN          NaN

    FB group new  Tiktok new  Forum new  News new  Youtube new  Total new
0       214290.0     11988.0      137.0     642.0       2290.0   755245.0
1        11829.0       830.0       14.0      99.0         39.0    25460.0
2        10205.0        20.0        2.0      83.0         16.0    13466.0
3         3173.0         6.0        3.0       6.0          2.0     8444.0
4         2246.0        59.0        0.0       0.0          2.0     4495.0
5          853.0        17.0        0.0       6.0          0.0     1746.0
6          215.0         0.0        0.0       0.0          0.0      231.0
7            0.0         0.0        0.0       0.0          0.0        0.0
13           NaN         NaN        NaN       NaN          NaN        NaN

==================================================

Channel (SĐN):
                         SĐN  Fanpage new  FB page new  FB user new  \
0                       Fami      98780.0      23548.0      46758.0
1                TH True Nut       3353.0       5092.0      17230.0
2         Vinamilk Super Nut       2038.0        734.0       3205.0
3               Sữa hạt Veyo       2794.0        500.0       2175.0
4      Sữa đậu nành Nutifood          0.0        354.0       3557.0
5        Vinamilk Hạt Óc Chó       2567.0       1440.0        812.0
6         Vinamilk Hạnh Nhân       2606.0         86.0        260.0
7            Vinamilk Đậu Đỏ       2605.0         90.0        242.0
8                TH true OAT        579.0       1527.0        563.0
9      Sữa Đậu Nành Vinamilk       1619.0         61.0        382.0
10  Vinamilk Sữa hạt Cao Đạm        132.0        233.0        880.0
11        TH True Light Meal        498.0        196.0        104.0
12             Nunut Lục Bảo          2.0         47.0        212.0
13             Sản phẩm khác          1.0         20.0         74.0

    FB group new  Tiktok new  Forum new  News new  Youtube new  Total new
0        24752.0      9391.0       14.0     187.0        245.0   203696.0
1         3672.0       267.0       15.0     101.0         45.0    29791.0
2         1734.0      1004.0        0.0      43.0         17.0     9120.0
3           48.0      1916.0        0.0      29.0          0.0     7464.0
4         1666.0        10.0        0.0       3.0          2.0     5593.0
5          616.0         4.0        2.0       0.0          4.0     5455.0
6          449.0         0.0        1.0       0.0          0.0     3409.0
7          451.0         2.0        0.0       0.0          0.0     3399.0
8          198.0        42.0        0.0      69.0          7.0     2994.0
9          186.0         7.0        1.0       4.0          1.0     2278.0
10         293.0       134.0        5.0       0.0          0.0     1771.0
11         121.0         7.0        0.0      32.0         43.0     1001.0
12          19.0         0.0        0.0       0.0          0.0      280.0
13          17.0         2.0        0.0       4.0          5.0      126.0

==================================================

In [44]:
# Channel BDD
filtered_sh_channel_BDD = sh_channel[(sh_channel["Ngành hàng"].isin(bdd)) & (sh_channel["Thời gian"].str.contains(year, na=False))]
channel_BDD = filtered_sh_channel_BDD.groupby(["Sản phẩm"]).agg({"Fanpage new": "sum","FB page new": "sum","FB user new": "sum","FB group new": "sum","Tiktok new": "sum","Forum new": "sum","News new": "sum","Youtube new": "sum","Total new": "sum"}).sort_values(by="Total new",ascending=False).reset_index().round()  
channel_BDD["Khác"] = channel_BDD["Total new"] - channel_BDD.drop(columns=["Sản phẩm", "Total new"]).sum(axis=1)

channel_BDD_top_13 = channel_BDD.head(13)

SP_khac = channel_BDD.iloc[13:].agg({"Fanpage new": "sum","FB page new": "sum","FB user new": "sum","FB group new": "sum","Tiktok new": "sum","Forum new": "sum","News new": "sum","Youtube new": "sum","Total new": "sum"}).to_frame().transpose()
    
channel_BDD = pd.concat([channel_BDD_top_13, SP_khac], ignore_index=True)
channel_BDD.loc[13, 'Sản phẩm'] = 'Sản phẩm khác'
channel_BDD.loc[13, 'Khác'] = channel_BDD.loc[13, 'Total new'] - channel_BDD.loc[13, ['Fanpage new', 'FB page new', 'FB user new', 'FB group new', 'Tiktok new', 'Forum new', 'News new', 'Youtube new']].sum()
channel_BDD = channel_BDD[['Sản phẩm','Fanpage new','FB page new','FB user new','FB group new','Tiktok new','Forum new','News new','Youtube new','Khác','Total new']]
channel_BDD.rename(columns={'Sản phẩm': 'BDD'}, inplace=True)
channel_BDD

,BDD,Fanpage new,FB page new,FB user new,FB group new,Tiktok new,Forum new,News new,Youtube new,Khác,Total new
0,Vinamilk Ridielac,6228.0,3943.0,53683.0,3530.0,6898.0,2.0,4.0,5.0,10.0,74303.0
1,Gerber,127.0,10328.0,6485.0,1776.0,124.0,2.0,6.0,5.0,6.0,18859.0
2,Bột ăn dặm Hipp,57.0,5939.0,4754.0,3650.0,589.0,1.0,0.0,2.0,75.0,15067.0
3,Bột ăn dặm Metacare,71.0,338.0,484.0,90.0,9.0,0.0,0.0,0.0,1.0,993.0
4,Bột ăn dặm Nuti IQ,1.0,391.0,223.0,372.0,6.0,0.0,0.0,0.0,0.0,993.0
5,Bột Dinh Dưỡng Vinamilk,1.0,121.0,248.0,187.0,10.0,1.0,97.0,1.0,0.0,666.0
6,Cerelac,0.0,38.0,77.0,39.0,1.0,0.0,0.0,1.0,8.0,164.0
7,Bột ăn dặm Vinamilk Optimum Gold,1.0,4.0,13.0,75.0,0.0,0.0,1.0,0.0,0.0,94.0
8,Bột ăn dặm Coloscare,0.0,8.0,30.0,3.0,0.0,0.0,0.0,0.0,0.0,41.0
9,Bột ăn dặm Vinamilk Organic Gold,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
13,Sản phẩm khác,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
with pd.ExcelWriter(Link, engine='openpyxl', mode='a',if_sheet_exists='overlay') as writer:
    channel_BDD.to_excel(writer, sheet_name='Channel_Cate', startrow=0, startcol=60, index=False)